/* Write your global styles here, in PostCSS syntax */
@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);
@tailwind base;
@tailwind components;
@tailwind utilities;

